<% if @job.errors.any? %>
      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>
<div class='new_post_job'>
  <h2 class="new_post_job_title">Post New Job</h2>
  <div class='wrapper'>

    <div class="position">
      <%= f.label :position, "Position" %>
      <%= f.text_field :position_name %>

    <div class="employer">
      <%= f.label :employer, "Employer" %>
      <%= f.text_field :employer_name %>

    <div class="type">
      <%= f.collection_select(:type_id, Type.all, :id, :name) %>
    </div>

    <div class="no">
      <%= f.label :number, "No." %>
      <%= f.text_field :number %>
    </div>

    <div class="location">
      <%= f.label :location, "Location" %>
      <%= f.text_field :all_locations, placeholder: "Locations separated with comma" %>
    </div>

    <div class="deadline">
      <%= f.label :deadline, "Deadline"%>
      <%= f.date_field :deadline %>
    </div>

    <div class="salary">
      <%= f.label :salary_min, "Salary" %>
      <%= f.text_field :salary_min %> <span>~</span> <%= f.text_field :salary_max %>
    </div>

    <div class="currency">
      <%= f.label :currency, "Currency" %>
      <%= f.text_field :currency %> /Year
    </div>