<%= render "menu" %>

<%= form_for @job, :url => job_path(@job), :method => :patch do |f| %>

  <div class="benefit">
    <%= f.label :benefit, "Benefit" %>
    <%= f.text_area :benefit %>
  </div>

  <div class="company_profile">
    <%= f.label :company_profile, "Company Profile" %>
    <%= f.text_area :company_profile %>
  </div>

  <%= f.submit "Save Change" %>
<% end %>

<%= link_to 'Exit w.o. Saving', job_path(@job) %> <br>
