<h3 class="follow_list">Follow List</h3>
<% if @job.follows.any? %>
  <div class="wrapper">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Photo</th>
        <th>Citizen of</th>
        <th>Location</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Summary</th>
        <th>Operation</th>
      </tr>
      <% @job.follows.each do |f| %>
      <tr>
        <td><%= link_to f.user.try(:username), user_path(f.user) %></td>
        <td><%= f.user.email %></td>
        <td><%= image_tag( f.user.logo.url(:thumb) ) %></td>
        <td><%= f.user.all_countries %></td>
        <td><%= f.user.all_locations %></td>
        <td><%= f.user.birthday %></td>
        <td><%= f.user.gender.try(:name) %></td>
        <td><%= f.user.summary %></td>
        <td>
          <%= link_to "Show Detail", user_path(f.user) %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>