<h3>Follow List</h3>
<% if @job.follows.any? %>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Photo</th>
    <th>Citizen of</th>
    <th>Location</th>
    <th>Summary</th>
    <th>Application</th>
    <th>Operation</th>
  </tr>
  <% @job.follows.each do |f| %>
  <tr>
    <td><%= link_to f.user.try(:username), user_path(f.user) %></td>
    <td><%= f.user.email %></td>
    <td><%= image_tag( f.user.logo.url(:thumb) ) %></td>
    <td><%= f.user.all_countries %></td>
    <td><%= f.user.all_locations %></td>
    <td><%= f.user.summary %></td>
    <td>
      <% if submission = @job.find_by_submission(f.user) %>
        <%= submission.aasm_state %>
        <% if submission.applying? %>
          <%= link_to "Admit", admit_job_submission_path(@job, submission), :method => :patch %>
          <%= link_to "Reject", reject_job_submission_path(@job, submission), :method => :patch %>
        <% elsif submission.declined? %>
          <%= link_to "Emphasize", emphasize_job_submission_path(@job, submission), :method => :patch %>
          <%= link_to "Refuse", refuse_job_submission_path(@job, submission), :method => :patch %>
        <% end %>
      <% else %>
        expecting
      <% end %>
    </td>
    <td>
      <%= link_to "Show Detail", user_path(f.user) %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>