<div clss="countainer">
  <div class="s-box">
    <div class="srchBox">
      <h1>Get Hired, Enrich Your Life!</h1>
      <br>
      <%= form_tag root_path, :method => :get do %>
      <%= text_field_tag "keyword", nil, {:placeholder => "Job Title, Keywords, or Company"} %>
      <%= submit_tag "Search", :class => "search-button flatbutton" %>
	  <% end %>
	</div>
  </div>
</div>

<% if @enable_post_new_job %>
  <%= link_to 'Post New Job', new_job_path %>
<% end %>

<% if @jobs.any? %>

<table border="1">
  <tr>
    <th>Position</th>
    <th>Employer</th>
    <th>Type</th>
    <th>Number</th>
    <th>Location</th>
    <th>Salary</th>
    <th>Deadline</th>
    <th>Follows</th>
    <th>Comments</th>
    <th>Poster</th>
    <th>Operation</th>
    <% if application_head(@jobs[0]) %>
      <th>Application</th>
    <% end %>
  </tr>
<div class="search-result">
  <div class="countainer">
      <div class="lighter">
	  <%= form_tag root_path, :method => :get do %>
      <%= text_field_tag "keyword1", nil, {:placeholder => "Text keyword here"} %>
      <%= submit_tag "Search", :class => "searchtop flatbutton" %>
	  <% end %>
    </div>
<% if @enable_post_new_job %>
<div class="newjob">
<div class="flatbutton">
  <%= link_to 'Post New Job', new_job_path %>
</div>
</div>
<% end %>
<% @jobs.each do |job| %>



	<div class="jobbox">
        <div class="jobbox-head">
          <h1 class="position left"><%= job.position_name %></h1>
          <div class="detail01 right">
            <span class="employer"><%= job.employer_name %></span>
            <span class="location"><%= raw location_links(job.all_locations)%></span>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="jobbox-body">
          <div class="detail02 left">
            <h3>Salary</h3><span class="salary"><%= job.salary_min %> ~ <%= job.salary_max %> @ <%= job.currency %>/Yr</span>
            <div><h4 class="inblock">Type</h4><span class="type"><%= job.type.try(:name) %></span></div>
            <div><h4 class="inblock">Number</h4><span class="number"><%= job.number %></span></div>
          </div>
          <div class="detail03 right">
            <h4>Deadline</h4><div class="deadline"><%= job.deadline %></div>
            <h4>Poster</h4><div class="poster"><%= link_to job.user.username, user_path(job.user) %></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="jobbox-footer">
          <div class="detail04 left">
            <div class="comments">
              <span class="comments-icon">comments</span>
              <span class="comment"><%= job.comments_count %></span>
            </div>
            <div class="follows">
              <% if follow = job.find_by_follow(current_user) %>
                <%= form_for Follow.new, :url => job_follow_path(job, follow), :method => :delete do |f| %>
                  <%= f.submit "Unfollow" %>
                <% end %>
              <% else %>
                <%= form_for Follow.new, :url => job_follows_path(job) do |f| %>
                  <%= f.submit "Follow" %>
                <% end %>
              <% end %>
              <span class="follow"><%= job.follows_count %></span>
            </div>
            <div class="showdetail flatbutton">
              <%= link_to "Show Detail", job_path(job) %></div>
              <% if job.can_modify_by?(current_user) %>
                <div class="showdetail flatbutton"><%= link_to "Edit Job", edit_job_path(job) %></div>
                <div class="showdetail flatbutton"><%= link_to "Follow List", follower_job_path(job) %></div>
                <% if job.open? %>
                  <div class="showdetail flatbutton"><%= link_to "Close Job", hide_job_path(job), :method => :patch %></div>
                <% else %>
                  <%= job.display_status %>
                <% end %>
              <% end %>

          </div>
          <div class="application right">
            <% if application_head(@jobs[0]) %>
              <h4>Application</h4>
            <% end %>
            <% unless job.can_modify_by?(current_user) %>
              <% if submission = job.find_by_submission(current_user) %>
                  <div class="status"><%= submission.aasm_state %></div>
                  <% if submission.admitted? %>
                    <div class="apply flatbutton"><%= link_to "Confirm", confirm_job_submission_path(job, submission), :method => :patch %></div>
                    <div class="apply flatbutton"><%= link_to "Decline", decline_job_submission_path(job, submission), :method => :patch %></div>
                  <% end %>
              <% else %>
              <div class="status">Expecting</div>
              <div>
                <div class="apply flatbutton">
                  <%= link_to "Apply", new_job_submission_path(job) %>
                </div>
              <% end %>
              </div>
            <% end %>
			<div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
<% end %>

  <% @jobs.each do |job| %>
  <tr>
    <td><%= job.position_name %></td>
    <td><%= job.employer_name %></td>
    <td><%= job.type.try(:name) %></td>
    <td><%= job.number %></td>
    <td><%= raw location_links(job.all_locations)%></td>
    <td><%= job.salary_min %> ~ <%= job.salary_max %> @ <%= job.currency %>/Yr</td>
    <td><%= job.deadline %></td>
    <td>
      <%= job.follows_count %>
      <% if follow = job.find_by_follow(current_user) %>
        <%= form_for Follow.new, :url => job_follow_path(job, follow), :method => :delete do |f| %>
          <%= f.submit "Unfollow" %>
        <% end %>
      <% else %>
        <%= form_for Follow.new, :url => job_follows_path(job) do |f| %>
          <%= f.submit "Follow" %>
        <% end %>
      <% end %>
    </td>
    <td><%= job.comments_count %></td>
    <td>
      <%= link_to job.user.username, user_path(job.user) %>
    </td>
    <td>
      <%= link_to "Show Detail", job_path(job) %>
      <% if job.can_modify_by?(current_user) %>
        <%= link_to "Edit Job", edit_job_path(job) %>
        <%= link_to "Follow List", follower_job_path(job) %>
        <% if job.open? %>
          <%= link_to "Close Job", hide_job_path(job), :method => :patch %>
        <% else %>
          <%= job.display_status %>
        <% end %>
      <% end %>
      <%#= link_to "Delete Job", job_path(job), :method => :delete %>
    </td>
    <% unless job.can_modify_by?(current_user) %>
    <td>
      <% if submission = job.find_by_submission(current_user) %>
          <%= submission.aasm_state %>
          <% if submission.admitted? %>
            <%= link_to "Confirm", confirm_job_submission_path(job, submission), :method => :patch %>
            <%= link_to "Decline", decline_job_submission_path(job, submission), :method => :patch %>
          <% end %>
      <% else %>
        expecting
        <%= link_to "Apply", new_job_submission_path(job) %>
      <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
  </div>
</div>
<% end %>
<script>
  $(".search-result").fadeIn(500);
</script>