<p>Status</p>
<%= @job.display_status %>
<% if @job.open? %>
  <%= link_to "Close Job", hide_job_path(@job), :method => :patch %>
<% end %>

<p>Application (<%= @job.submissions.count %>)</p>
<% if submission = @job.find_by_submission(current_user) %>
    <%= submission.aasm_state %>
    <% if submission.admitted? %>
      <%= link_to "Confirm", confirm_job_submission_path(@job, submission), :method => :patch %>
      <%= link_to "Decline", decline_job_submission_path(@job, submission), :method => :patch %>
    <% end %>
<% else %>
  expecting
  <%= link_to "Apply", new_job_submission_path(@job) %>
<% end %>

<p>Follows</p>
<%= @job.follows_count %>
<% if follow = @job.find_by_follow(current_user) %>
    <%= form_for Follow.new, :url => job_follow_path(@job, follow), :method => :delete do |f| %>
    <%= f.submit "Unfollow" %>
  <% end %>
<% else %>
  <%= form_for Follow.new, :url => job_follows_path(@job) do |f| %>
    <%= f.submit "Follow" %>
  <% end %>
<% end %>

<h3><%= link_to "Followers", follower_job_path(@job) %></h3>

<%= link_to "Edit", edit_job_path(@job) %>

<h3>Position</h3>
<%= @job.position_name %>

<h4>Employer</h4>
<%= @job.employer_name %>

<p>Type: <%= @job.type.try(:name) %><p>

<p>Number</p>
<%= @job.number %>

<p>Location</p>
<%= @job.all_locations %>

<p>Deadline</p>
<p><%= @job.deadline %></p>

<p>Salary</p>
<%= @job.salary_min %> ~ <%= @job.salary_max %> @ <%= @job.currency %>/Yr <br>

<%= link_to "Edit", edit1_job_path(@job) %>

<p>Requirement</p>
<%= @job.requirement %>

<p>Responsibility</p>
<%= @job.responsibility %>

<%= link_to "Edit", edit2_job_path(@job) %>

<p>Benefit</p>
<%= @job.benefit %>

<p>Company Profile</p>
<%= @job.company_profile %>

<%= link_to "Edit", edit3_job_path(@job) %>

<p>Suggestion</p>
<%= @job.suggestion %>

<h3>Comments</h3>
<ol>
  <% @job.comments.each do |comment| %>
  <li>
    <%= comment.content %>
    <%= link_to comment.user.try(:username), job_path(comment) %>
    <%= link_to 'Delete Comment', job_comment_path(@job, comment), :method => :delete %>
  </li>
  <% end %>
</ol>

<h3>New comment</h3>
<%= form_for Comment.new, :url => job_comments_path(@job) do |f| %>
  <%= f.text_area :content %> <br>
  <%= f.submit "Add New Comment" %>
<% end %>