<%= render "menu" %>

<h3>Languages & Skills</h3>

<%= form_for @user, :url => user_path(@user), :method => :patch do |f| %>

  <%= f.label :language, "Language" %>
  <%= f.nested_fields_for :speakings do |s| %>

    <%= s.text_field :language_name %>

    <%= s.select :name, Speaking::LEVEL %>
    <%= s.remove_nested_fields_link "Delete" %>
  <% end %>
  <%= f.add_nested_fields_link :speakings, "Add Language" %> <br>

  <%= f.label :skill, "Skill & Certification" %>
  <%= f.text_area :skill %><br>

  <%= f.label :other_info, "Ohter Information" %>
  <%= f.text_area :other_info %><br>

  <%= f.submit "Save Change" %>
<% end %>

<%= link_to 'Exit', user_path(current_user) %> <br>
<%= link_to 'Prev' %>  <%= link_to 'Next' %>