<div class="search-result">
  <div class="countainer">
   <div class="jobbox">

<!--edit section start-->
<div class="edit-box">
  <% if @user == current_user %>
  <div class="flatbutton edit">
    <%= link_to 'Edit', edit_user_path(current_user) %>
  </div>
  <% end %>
  <div class="summary-photo left"><%= link_to image_tag( @user.logo.url(:medium) ), @user.logo.url %></div>
  <div class="basic-edit left">
    <h2><%= @user.username %></h2>
    <h3>Citizen of</h3>
    <div><%= @user.all_countries %></div>
    <h3>Countries eligible to work in</h3>
    <div><%= @user.all_eligibles %></div>
    <h3>Location</h3>
    <div><%= @user.birthday %></div>
    <h3>Birthday</h3>
    <div><%= @user.birthday %></div>
    <h3>Gender</h3>
    <div><%= @user.gender.try(:name) %></div>
    <h3>Summary</h3>
    <div><%= @user.summary %></div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="edit-box">
  <% if @user == current_user %>
  <div class="flatbutton edit">
    <%= link_to 'Edit', edit1_user_path(current_user) %>
  </div>
  <% end %>

  <h2 class="text-shadow">Experience</h2>

  <% @user.experiences.each do |experience| %>
  <div class="basic-edit">
    <div class="detial-box">
      <h3>Position</h3>
      <div><%= experience.position_name %></div>
    </div>
    <div class="detial-box">
      <h3>Employer</h3>
      <div><%= experience.employer_name %></div>
    </div>
    <div class="detial-box">
      <h3>Current</h3>
      <div><%= experience.current.try(:name) %></div>
    </div>
    <div class="detial-box">
      <h3>Location</h3>
      <div><%= experience.all_locations %></div>
    </div>
    <div class="detial-box">
      <h3>Salary</h3>
      <div><%= experience.salary %> USD/Yr</div>
    </div>
    <div class="detial-box">
      <h3>Period</h3>
      <div><%= experience.from %> ~ <%= experience.to %></div>
    </div>
    <h3>Description</h3>
    <div><%= experience.description %></div>
  </div>
  <% end %>
</div>

<div class="edit-box">
  <% if @user == current_user %>
  <div class="flatbutton edit">
    <%= link_to 'Edit', edit2_user_path(current_user) %>
  </div>
  <% end %>

  <h2 class="text-shadow">Education</h2>
  <% @user.educations.each do |education| %>
  <div class="basic-edit">
    <div class="detial-box">
      <h3>Degree</h3>
      <div><%= education.degree_name %></div>
    </div>
    <div class="detial-box">
      <h3>Institute</h3>
      <div><%= education.institute_name %></div>
    </div>
    <div class="detial-box">
      <h3>Current</h3>
      <div><%= education.current.try(:name) %></div>
    </div>
    <div class="detial-box">
      <h3>Location</h3>
      <div><%= education.all_locations %></div>
    </div>
    <div class="detial-box">
      <h3>Profession</h3>
      <div><%= education.all_professions %></div>
    </div>
    <div class="detial-box">
      <h3>Period</h3>
      <div><%= education.from %> ~ <%= education.to %></div>
    </div>
    <h3>Description</h3>
    <div><%= education.description %></div>
  </div>
  <% end %>
</div>

<div class="edit-box">
  <% if @user == current_user %>
  <div class="flatbutton edit">
    <%= link_to 'Edit', edit3_user_path(current_user) %>
  </div>
  <% end %>
  <h2 class="text-shadow">Language & Skill</h2>
  <div class="basic-edit">
    <h3>Language</h3>
    <div>
    <% @user.speakings.each do |speaking| %>
      <table id="language">
        <tbody>
        <tr>
          <th>Language</th>
          <th>Level</th>
        </tr>
        <tr>
          <td><%= speaking.language_name %></td>
          <td><%= speaking.try(:name) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
  </div>
    <h3>Skill</h3>
    <div>Mouth gun! </div>
    <h3>More Info</h3>
    <div>text here!!</div>
  </div>
</div>

<!--edit section end-->

<script>
  $(".search-result").fadeIn(500);
</script>