<%= render "menu" %>

<%= form_for @job, :url => job_path(@job), :method => :patch do |f| %>

  <div class="suggestion">
    <%= f.label :suggestion, "Suggestion" %>
    <%= f.text_area :suggestion %>
  </div>

  <%= f.submit "Save Change" %>
<% end %>

<%= link_to 'Exit w.o. Saving', job_path(@job) %> <br>
