  <%= f.label :degree, "Degree" %>
  <%= f.text_field :degree_name %><br>

  <%= f.label :institute, "Institute" %>
  <%= f.text_field :institute_name %><br>

  <%= f.label :current, "Current" %>
  <%= f.collection_select(:current_id, Current.all, :id, :name) %> <br>

  <%= f.label :location, "Location (City)" %>
  <div class="large-10 large-centered columns">
    <%= f.text_field :all_locations, placeholder: "Locations separated with comma" %>
  </div>

  <%= f.label :profession, "Profession" %>
  <div class="large-10 large-centered columns">
    <%= f.text_field :all_professions, placeholder: "Professions separated with comma" %>
  </div>

  <%= f.label :from, "Period"%>
  <%= f.date_field :from %> ~ <%= f.date_field :to %> <br>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description %> <br>