<!DOCTYPE html>
<html>
<head>
  <title>GJS Demo01</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_user %>
  <%= link_to 'GJS Logo', root_path %> |
  <%= link_to 'My Following Job List', '#' %> |
  <%= link_to 'Post Job List', '#' %> |
  <%= link_to 'Post New Job', new_job_path %> |
  <%= link_to 'User Profile', user_path(current_user) %> |
  <%= link_to('Setting', edit_registration_path(:user)) %> |
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% else %>
  <%= link_to('Sing Up', new_registration_path(:user)) %> |
  <%= link_to('Login', new_session_path(:user)) %>
<% end %> <br>


<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:alert] %></p>
<%= yield %>

</body>
</html>
